Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'

try fixing linting errors on linux
  packages/streamr-json/include/streamr-json/toJson.hpp
  packages/streamr-json/src/examples/JsonExample.cpp
  packages/streamr-json/test/unit/toStringTest.cpp
Labels: none

try fixing linting errors on linux
  packages/streamr-json/include/streamr-json/toJson.hpp
  packages/streamr-json/src/examples/JsonExample.cpp
  packages/streamr-json/test/unit/toStringTest.cpp
Labels: none

try fixing linting errors on linux
  .clang-tidy
Labels: none

try fixing linting errors on linux
  .clang-tidy
Labels: none

try fixing linting errors on linux
  .clang-tidy
Labels: none

try fixing linting errors on linux
  .clang-tidy
Labels: none

move to cland-18 on linux
  install-prerequisities.sh
  run-clang-format.py
Labels: none

move to cland-18 on linux
  install-prerequisities.sh
  run-clang-format.py
Labels: none

move to cland-18 on linux
  install-prerequisities.sh
Labels: none

move to cland-18 on linux
  install-prerequisities.sh
Labels: none

add missing include statements to fix linting
  packages/streamr-utils/include/streamr-utils/ENSName.hpp
  packages/streamr-utils/include/streamr-utils/EthereumAddress.hpp
  packages/streamr-utils/include/streamr-utils/ReplayEventEmitterWrapper.hpp
  packages/streamr-utils/include/streamr-utils/StreamID.hpp
Labels: utils

add missing include statements to fix linting
  packages/streamr-utils/include/streamr-utils/ENSName.hpp
  packages/streamr-utils/include/streamr-utils/EthereumAddress.hpp
  packages/streamr-utils/include/streamr-utils/ReplayEventEmitterWrapper.hpp
  packages/streamr-utils/include/streamr-utils/StreamID.hpp
Labels: utils

add missing include statements to fix linting
  packages/streamr-utils/include/streamr-utils/partition.hpp
Labels: utils

add missing include statements to fix linting
  packages/streamr-utils/include/streamr-utils/partition.hpp
Labels: utils

linting
  packages/streamr-utils/include/streamr-utils/ReplayEventEmitterWrapper.hpp
Labels: utils

linting
  packages/streamr-utils/include/streamr-utils/ReplayEventEmitterWrapper.hpp
Labels: utils

linting
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
Labels: proto-rpc

linting
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
Labels: proto-rpc

linting
  packages/streamr-dht/include/streamr-dht/dht/routing/DuplicateDetector.hpp
Labels: dht

linting
  packages/streamr-dht/include/streamr-dht/dht/routing/DuplicateDetector.hpp
Labels: dht

linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
Labels: dht

linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
Labels: dht

linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
Labels: dht

linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
Labels: dht

force using clangd18 on linux
  install-prerequisities.sh
Labels: none

force using clangd18 on linux
  install-prerequisities.sh
Labels: none

force using clangd18 on linux
  install-prerequisities.sh
Labels: none

force using clangd18 on linux
  install-prerequisities.sh
Labels: none

force using clangd19 on linux
  install-prerequisities.sh
Labels: none

force using clangd19 on linux
  install-prerequisities.sh
Labels: none

force using clangd19 on linux
  install-prerequisities.sh
Labels: none

force using clangd19 on linux
  install-prerequisities.sh
Labels: none

add placeholder unit tests
  packages/streamr-json/src/examples/JsonExample.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/test/unit/AbortControllerTest.cpp
  packages/streamr-utils/test/unit/ENSNameTest.cpp
Labels: utils

add placeholder unit tests
  packages/streamr-json/src/examples/JsonExample.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/test/unit/AbortControllerTest.cpp
  packages/streamr-utils/test/unit/ENSNameTest.cpp
Labels: utils

try fixing linting errors on linux
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/unit/ConnectionLockRpcRemoteTest.cpp
  packages/streamr-dht/test/unit/ConnectionsViewTest.cpp
  packages/streamr-dht/test/unit/ConnectorFacadeTest.cpp
  packages/streamr-dht/test/unit/DhtCallContextTest.cpp
  packages/streamr-dht/test/unit/IdentifiersTest.cpp
  packages/streamr-dht/test/unit/OffererTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerConnectorTest.cpp
Labels: dht

try fixing linting errors on linux
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/unit/ConnectionLockRpcRemoteTest.cpp
  packages/streamr-dht/test/unit/ConnectionsViewTest.cpp
  packages/streamr-dht/test/unit/ConnectorFacadeTest.cpp
  packages/streamr-dht/test/unit/DhtCallContextTest.cpp
  packages/streamr-dht/test/unit/IdentifiersTest.cpp
  packages/streamr-dht/test/unit/OffererTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerConnectorTest.cpp
Labels: dht

try fixing linting errors on linux
  .github/workflows/reusable/cached-install/action.yml
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/DisconnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/lint.sh
  packages/streamr-dht/test/unit/ConnectedEndpointStateTest.cpp
  packages/streamr-dht/test/unit/ConnectingEndpointStateTest.cpp
  packages/streamr-dht/test/unit/ConnectionLockRpcLocalTest.cpp
  packages/streamr-dht/test/unit/DisconnectedEndpointStateTest.cpp
  packages/streamr-dht/test/unit/EndpointStateTest.cpp
  packages/streamr-dht/test/unit/EndpointTest.cpp
  packages/streamr-dht/test/unit/FakeTransportTest.cpp
  packages/streamr-dht/test/unit/InitialEndpointStateTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
Labels: ci, dht

try fixing linting errors on linux
  .github/workflows/reusable/cached-install/action.yml
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/DisconnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/lint.sh
  packages/streamr-dht/test/unit/ConnectedEndpointStateTest.cpp
  packages/streamr-dht/test/unit/ConnectingEndpointStateTest.cpp
  packages/streamr-dht/test/unit/ConnectionLockRpcLocalTest.cpp
  packages/streamr-dht/test/unit/DisconnectedEndpointStateTest.cpp
  packages/streamr-dht/test/unit/EndpointStateTest.cpp
  packages/streamr-dht/test/unit/EndpointTest.cpp
  packages/streamr-dht/test/unit/FakeTransportTest.cpp
  packages/streamr-dht/test/unit/InitialEndpointStateTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
Labels: ci, dht

try fixing linting errors on linux
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/test/unit/EndpointStateInterfaceTest.cpp
  packages/streamr-dht/test/unit/IncomingHandshakerTest.cpp
  packages/streamr-dht/test/unit/OutgoingHandshakerTest.cpp
  packages/streamr-dht/test/unit/RoutingRpcCommunicatorTest.cpp
  packages/streamr-dht/test/unit/WebsocketConnectionTest.cpp
Labels: dht

try fixing linting errors on linux
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/test/unit/EndpointStateInterfaceTest.cpp
  packages/streamr-dht/test/unit/IncomingHandshakerTest.cpp
  packages/streamr-dht/test/unit/OutgoingHandshakerTest.cpp
  packages/streamr-dht/test/unit/RoutingRpcCommunicatorTest.cpp
  packages/streamr-dht/test/unit/WebsocketConnectionTest.cpp
Labels: dht
