Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'

linting
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/test/unit/ConnectionLockerTest.cpp
Labels: dht

linting
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/test/unit/ConnectionLockerTest.cpp
Labels: dht

linting
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/TransportTest.cpp
Labels: dht

linting
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/TransportTest.cpp
Labels: dht

sending multiple messages works
  packages/streamr-dht/include/streamr-dht/Identifiers.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/build/.gitignore
  packages/streamr-libstreamrproxyclient/examples/unix/install.sh
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/run-ts-multiple-messages-test.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/utils.hpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/test/unit/BinaryUtilsTest.cpp
Labels: network, dht, utils

sending multiple messages works
  packages/streamr-dht/include/streamr-dht/Identifiers.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/build/.gitignore
  packages/streamr-libstreamrproxyclient/examples/unix/install.sh
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/run-ts-multiple-messages-test.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/utils.hpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/test/unit/BinaryUtilsTest.cpp
Labels: network, dht, utils

sending multiple messages works
  packages/streamr-dht/include/streamr-dht/Identifiers.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/build/.gitignore
  packages/streamr-libstreamrproxyclient/examples/unix/install.sh
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/run-ts-multiple-messages-test.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/Utils.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/utils.hpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/test/unit/BinaryUtilsTest.cpp
Labels: network, dht, utils

iOS xcframework and iOS LocationShare App (With static lib) added
  create-streamr-xcframework.pl
  install.sh
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcshareddata/xcschemes/LocationShare.xcscheme
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Info.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationManager.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShare-Bridging-Header.h
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareApp.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/PeerDesc.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Preview Content/Preview Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Result.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareTests/LocationShareTests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITestsLaunchTests.swift
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

iOS xcframework and iOS LocationShare App (With static lib) added
  create-streamr-xcframework.pl
  install.sh
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcshareddata/xcschemes/LocationShare.xcscheme
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Info.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationManager.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShare-Bridging-Header.h
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareApp.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/PeerDesc.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Preview Content/Preview Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Result.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareTests/LocationShareTests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITestsLaunchTests.swift
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

iOS xcframework and iOS LocationShare App (With static lib) added
  create-streamr-xcframework.pl
  install.sh
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcshareddata/xcschemes/LocationShare.xcscheme
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Info.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationManager.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShare-Bridging-Header.h
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareApp.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/PeerDesc.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Preview Content/Preview Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Result.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareTests/LocationShareTests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITestsLaunchTests.swift
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

Added mode *.o files to the static lib
  create-streamr-xcframework.pl
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Added mode *.o files to the static lib
  create-streamr-xcframework.pl
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Added mode *.o files to the static lib
  create-streamr-xcframework.pl
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Added one header file to the static lib
  create-streamr-xcframework.pl
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Added one header file to the static lib
  create-streamr-xcframework.pl
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Added one header file to the static lib
  create-streamr-xcframework.pl
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Workaround removed from the Android app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Workaround removed from the Android app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Workaround removed from the Android app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Readme added to ios install
  README.md
Labels: docs

Readme added to ios install
  README.md
Labels: docs

Readme added to ios install
  README.md
Labels: docs

Readme added to android install
  README.md
Labels: docs

Readme added to android install
  README.md
Labels: docs

Readme added to android install
  README.md
Labels: docs

iOS unit test app added
  iostest.sh
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/Data/data.0~1jPHcbtAZ-mE39amyaTOmSTEiqnR1nZgS5cXloyeLhMiP15ZzbhWBWjfDgUxvc3SWylq2u_YIDMTy8t9s5H4UA==
  test/ios/iOSUnitTesting/Data/data.0~56aYZRiDfNe2O5yH7DiPEGmQGWBx3QPqltGoEPntCEhBi096Mxjg0srKYyFHrgpJ_KXvhtmR5b27O7wg5dWWUw==
  test/ios/iOSUnitTesting/Data/data.0~QH5VUriEQ6pZTmUpproKsXG_XNaSjoOQG86pvZJRcquy9eSoolwv3EhBf2OayAhsm3Fq4n-rruNSpeWPi60AKg==
  test/ios/iOSUnitTesting/Data/data.0~lEEW9ViJG6LNwPO2vW1AtCIZfFN6psRwQ6UoTuNN2JCZWsAXRRxzoZliGCIQTJQDLQKwhqz5y4QtIiDY21mR1g==
  test/ios/iOSUnitTesting/Data/refs.0~1jPHcbtAZ-mE39amyaTOmSTEiqnR1nZgS5cXloyeLhMiP15ZzbhWBWjfDgUxvc3SWylq2u_YIDMTy8t9s5H4UA==
  test/ios/iOSUnitTesting/Data/refs.0~56aYZRiDfNe2O5yH7DiPEGmQGWBx3QPqltGoEPntCEhBi096Mxjg0srKYyFHrgpJ_KXvhtmR5b27O7wg5dWWUw==
  test/ios/iOSUnitTesting/Data/refs.0~QH5VUriEQ6pZTmUpproKsXG_XNaSjoOQG86pvZJRcquy9eSoolwv3EhBf2OayAhsm3Fq4n-rruNSpeWPi60AKg==
  test/ios/iOSUnitTesting/Data/refs.0~lEEW9ViJG6LNwPO2vW1AtCIZfFN6psRwQ6UoTuNN2JCZWsAXRRxzoZliGCIQTJQDLQKwhqz5y4QtIiDY21mR1g==
  test/ios/iOSUnitTesting/Gemfile
  test/ios/iOSUnitTesting/Gemfile.lock
  test/ios/iOSUnitTesting/Info.plist
  test/ios/iOSUnitTesting/fastlane/Appfile
  test/ios/iOSUnitTesting/fastlane/Fastfile
  test/ios/iOSUnitTesting/fastlane/README.md
  test/ios/iOSUnitTesting/fastlane/report.xml
  test/ios/iOSUnitTesting/fastlane/test_output/report.html
  test/ios/iOSUnitTesting/fastlane/test_output/report.junit
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcshareddata/xcschemes/iOSUnitTesting.xcscheme
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/AccentColor.colorset/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/AppIcon.appiconset/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/ContentView.swift
  test/ios/iOSUnitTesting/iOSUnitTesting/Preview Content/Preview Assets.xcassets/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/iOSUnitTestingApp.swift
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.cpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.hpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/StreamrTests.swift
  test/ios/iOSUnitTesting/iOSUnitTestingTests/gtest-all.cc
  test/ios/iOSUnitTesting/iOSUnitTestingTests/gtest_main.cc
  test/ios/iOSUnitTesting/iOSUnitTestingTests/iOSUnitTestingTests-Bridging-Header.h
  test/ios/iOSUnitTesting/test_output/report.html
  test/ios/iOSUnitTesting/test_output/report.junit
Labels: none

iOS unit test app added
  iostest.sh
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/Data/data.0~1jPHcbtAZ-mE39amyaTOmSTEiqnR1nZgS5cXloyeLhMiP15ZzbhWBWjfDgUxvc3SWylq2u_YIDMTy8t9s5H4UA==
  test/ios/iOSUnitTesting/Data/data.0~56aYZRiDfNe2O5yH7DiPEGmQGWBx3QPqltGoEPntCEhBi096Mxjg0srKYyFHrgpJ_KXvhtmR5b27O7wg5dWWUw==
  test/ios/iOSUnitTesting/Data/data.0~QH5VUriEQ6pZTmUpproKsXG_XNaSjoOQG86pvZJRcquy9eSoolwv3EhBf2OayAhsm3Fq4n-rruNSpeWPi60AKg==
  test/ios/iOSUnitTesting/Data/data.0~lEEW9ViJG6LNwPO2vW1AtCIZfFN6psRwQ6UoTuNN2JCZWsAXRRxzoZliGCIQTJQDLQKwhqz5y4QtIiDY21mR1g==
  test/ios/iOSUnitTesting/Data/refs.0~1jPHcbtAZ-mE39amyaTOmSTEiqnR1nZgS5cXloyeLhMiP15ZzbhWBWjfDgUxvc3SWylq2u_YIDMTy8t9s5H4UA==
  test/ios/iOSUnitTesting/Data/refs.0~56aYZRiDfNe2O5yH7DiPEGmQGWBx3QPqltGoEPntCEhBi096Mxjg0srKYyFHrgpJ_KXvhtmR5b27O7wg5dWWUw==
  test/ios/iOSUnitTesting/Data/refs.0~QH5VUriEQ6pZTmUpproKsXG_XNaSjoOQG86pvZJRcquy9eSoolwv3EhBf2OayAhsm3Fq4n-rruNSpeWPi60AKg==
  test/ios/iOSUnitTesting/Data/refs.0~lEEW9ViJG6LNwPO2vW1AtCIZfFN6psRwQ6UoTuNN2JCZWsAXRRxzoZliGCIQTJQDLQKwhqz5y4QtIiDY21mR1g==
  test/ios/iOSUnitTesting/Gemfile
  test/ios/iOSUnitTesting/Gemfile.lock
  test/ios/iOSUnitTesting/Info.plist
  test/ios/iOSUnitTesting/fastlane/Appfile
  test/ios/iOSUnitTesting/fastlane/Fastfile
  test/ios/iOSUnitTesting/fastlane/README.md
  test/ios/iOSUnitTesting/fastlane/report.xml
  test/ios/iOSUnitTesting/fastlane/test_output/report.html
  test/ios/iOSUnitTesting/fastlane/test_output/report.junit
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcshareddata/xcschemes/iOSUnitTesting.xcscheme
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/AccentColor.colorset/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/AppIcon.appiconset/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/ContentView.swift
  test/ios/iOSUnitTesting/iOSUnitTesting/Preview Content/Preview Assets.xcassets/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/iOSUnitTestingApp.swift
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.cpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.hpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/StreamrTests.swift
  test/ios/iOSUnitTesting/iOSUnitTestingTests/gtest-all.cc
  test/ios/iOSUnitTesting/iOSUnitTestingTests/gtest_main.cc
  test/ios/iOSUnitTesting/iOSUnitTestingTests/iOSUnitTestingTests-Bridging-Header.h
  test/ios/iOSUnitTesting/test_output/report.html
  test/ios/iOSUnitTesting/test_output/report.junit
Labels: none

iOS unit test app added
  iostest.sh
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/Data/data.0~1jPHcbtAZ-mE39amyaTOmSTEiqnR1nZgS5cXloyeLhMiP15ZzbhWBWjfDgUxvc3SWylq2u_YIDMTy8t9s5H4UA==
  test/ios/iOSUnitTesting/Data/data.0~56aYZRiDfNe2O5yH7DiPEGmQGWBx3QPqltGoEPntCEhBi096Mxjg0srKYyFHrgpJ_KXvhtmR5b27O7wg5dWWUw==
  test/ios/iOSUnitTesting/Data/data.0~QH5VUriEQ6pZTmUpproKsXG_XNaSjoOQG86pvZJRcquy9eSoolwv3EhBf2OayAhsm3Fq4n-rruNSpeWPi60AKg==
  test/ios/iOSUnitTesting/Data/data.0~lEEW9ViJG6LNwPO2vW1AtCIZfFN6psRwQ6UoTuNN2JCZWsAXRRxzoZliGCIQTJQDLQKwhqz5y4QtIiDY21mR1g==
  test/ios/iOSUnitTesting/Data/refs.0~1jPHcbtAZ-mE39amyaTOmSTEiqnR1nZgS5cXloyeLhMiP15ZzbhWBWjfDgUxvc3SWylq2u_YIDMTy8t9s5H4UA==
  test/ios/iOSUnitTesting/Data/refs.0~56aYZRiDfNe2O5yH7DiPEGmQGWBx3QPqltGoEPntCEhBi096Mxjg0srKYyFHrgpJ_KXvhtmR5b27O7wg5dWWUw==
  test/ios/iOSUnitTesting/Data/refs.0~QH5VUriEQ6pZTmUpproKsXG_XNaSjoOQG86pvZJRcquy9eSoolwv3EhBf2OayAhsm3Fq4n-rruNSpeWPi60AKg==
  test/ios/iOSUnitTesting/Data/refs.0~lEEW9ViJG6LNwPO2vW1AtCIZfFN6psRwQ6UoTuNN2JCZWsAXRRxzoZliGCIQTJQDLQKwhqz5y4QtIiDY21mR1g==
  test/ios/iOSUnitTesting/Gemfile
  test/ios/iOSUnitTesting/Gemfile.lock
  test/ios/iOSUnitTesting/Info.plist
  test/ios/iOSUnitTesting/fastlane/Appfile
  test/ios/iOSUnitTesting/fastlane/Fastfile
  test/ios/iOSUnitTesting/fastlane/README.md
  test/ios/iOSUnitTesting/fastlane/report.xml
  test/ios/iOSUnitTesting/fastlane/test_output/report.html
  test/ios/iOSUnitTesting/fastlane/test_output/report.junit
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcshareddata/xcschemes/iOSUnitTesting.xcscheme
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/AccentColor.colorset/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/AppIcon.appiconset/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/Assets.xcassets/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/ContentView.swift
  test/ios/iOSUnitTesting/iOSUnitTesting/Preview Content/Preview Assets.xcassets/Contents.json
  test/ios/iOSUnitTesting/iOSUnitTesting/iOSUnitTestingApp.swift
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.cpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.hpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/StreamrTests.swift
  test/ios/iOSUnitTesting/iOSUnitTestingTests/gtest-all.cc
  test/ios/iOSUnitTesting/iOSUnitTestingTests/gtest_main.cc
  test/ios/iOSUnitTesting/iOSUnitTestingTests/iOSUnitTestingTests-Bridging-Header.h
  test/ios/iOSUnitTesting/test_output/report.html
  test/ios/iOSUnitTesting/test_output/report.junit
Labels: none

Compiler flags added
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Compiler flags added
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Compiler flags added
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

README update
  README.md
Labels: docs

README update
  README.md
Labels: docs

README update
  README.md
Labels: docs

Dht unit tests added. Also IPendingConnection abstract class added in order to unit test using mocks
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectingEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/DisconnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/VersionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Dht unit tests added. Also IPendingConnection abstract class added in order to unit test using mocks
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectingEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/DisconnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/VersionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Dht unit tests added. Also IPendingConnection abstract class added in order to unit test using mocks
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectingEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/DisconnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/VersionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Unit tests added to iOS Unit Tester
  packages/streamr-json/test/unit/toJsonTest.cpp
  packages/streamr-utils/CMakeLists.txt
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
Labels: utils

Unit tests added to iOS Unit Tester
  packages/streamr-json/test/unit/toJsonTest.cpp
  packages/streamr-utils/CMakeLists.txt
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
Labels: utils

Unit tests added to iOS Unit Tester
  packages/streamr-json/test/unit/toJsonTest.cpp
  packages/streamr-utils/CMakeLists.txt
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
Labels: utils
