Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

change size_t argument to uint64_t in shared library
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
Labels: none

change size_t argument to uint64_t in shared library
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
Labels: none

try fixing event after detroy in websocket
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
Labels: dht

try fixing event after detroy in websocket
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
Labels: dht

ios install succeeded
  homebrewClang.cmake
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  vcpkg.json
Labels: dht

merging
  install-prerequisities.sh
Labels: none

merging
  install.sh
Labels: none

merging
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcshareddata/xcschemes/iOSUnitTesting.xcscheme
Labels: none

iOS Unit tests executed
  create-streamr-xcframework.pl
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/iOSUnitTestingTests/ProtoRpc.pb.cc
  test/ios/iOSUnitTesting/iOSUnitTestingTests/ProtoRpc.pb.h
Labels: none

Dht unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/VersionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
Labels: dht

Dht connection interface added which is needed for mocking
  packages/streamr-dht/include/streamr-dht/connection/Connection.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionsView.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
Labels: dht

tests pass on linux
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/WebsocketClientServerTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-json/test/unit/toJsonTest.cpp~
  packages/streamr-libstreamrproxyclient/CMakeLists.txt~
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  packages/streamr-proto-rpc/CMakeLists.txt~
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp~
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp~
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/src/CustomGtestMain.cpp
Labels: network, dht, proto-rpc

fix linting
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/RetryUtilsTest.cpp
  packages/streamr-utils/test/unit/StreamPartIDTest.cpp
  packages/streamr-utils/test/unit/toEthereumAddressOrENSNameTest.cpp
Labels: utils

fix linting
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

fix linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

add placeholder unit tests to fix linting
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/ContentDeliveryRpcLocalTest.cpp
  packages/streamr-trackerless-network/test/unit/ContentDeliveryRpcRemoteTest.cpp
  packages/streamr-trackerless-network/test/unit/FifoMapWithTTLTest.cpp
  packages/streamr-trackerless-network/test/unit/NodeListTest.cpp
  packages/streamr-trackerless-network/test/unit/PropagationTaskStoreTest.cpp
  packages/streamr-trackerless-network/test/unit/PropagationTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyClientTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyConnectionRpcLocalTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyConnectionRpcRemoteTest.cpp
  packages/streamr-trackerless-network/test/unit/UtilsTest.cpp
  packages/streamr-trackerless-network/test/unit/formStreamPartDeliveryServiceIdTest.cpp
Labels: network

add more placeholder unit tests
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/test/unit/EthereumAddressTest.cpp
  packages/streamr-utils/test/unit/ReplayEventEmitterWrapperTest.cpp
  packages/streamr-utils/test/unit/StreamIDTest.cpp
Labels: utils

cpptrace removed
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  vcpkg.json
Labels: dht

tests pass on linux
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/WebsocketClientServerTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-json/test/unit/toJsonTest.cpp~
  packages/streamr-libstreamrproxyclient/CMakeLists.txt~
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  packages/streamr-proto-rpc/CMakeLists.txt~
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp~
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp~
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/src/CustomGtestMain.cpp
Labels: network, dht, proto-rpc

tests pass on linux
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/WebsocketClientServerTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-json/test/unit/toJsonTest.cpp~
  packages/streamr-libstreamrproxyclient/CMakeLists.txt~
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  packages/streamr-proto-rpc/CMakeLists.txt~
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp~
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp~
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/src/CustomGtestMain.cpp
Labels: network, dht, proto-rpc

remove cpptrace to enable android builds
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-libstreamrproxyclient/vcpkg.json
Labels: dht

remove cpptrace, add monorepo deps to libstreamrproxyclient
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  vcpkg.json
Labels: dht

add more checks to ensure that setenvs.sh has been run
  install.sh
Labels: none

fix linting
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

fix linting
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

add more placeholder unit tests
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/test/unit/EthereumAddressTest.cpp
  packages/streamr-utils/test/unit/ReplayEventEmitterWrapperTest.cpp
  packages/streamr-utils/test/unit/StreamIDTest.cpp
Labels: utils

fix linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

add placeholder unit tests to fix linting
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/ContentDeliveryRpcLocalTest.cpp
  packages/streamr-trackerless-network/test/unit/ContentDeliveryRpcRemoteTest.cpp
  packages/streamr-trackerless-network/test/unit/FifoMapWithTTLTest.cpp
  packages/streamr-trackerless-network/test/unit/NodeListTest.cpp
  packages/streamr-trackerless-network/test/unit/PropagationTaskStoreTest.cpp
  packages/streamr-trackerless-network/test/unit/PropagationTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyClientTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyConnectionRpcLocalTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyConnectionRpcRemoteTest.cpp
  packages/streamr-trackerless-network/test/unit/UtilsTest.cpp
  packages/streamr-trackerless-network/test/unit/formStreamPartDeliveryServiceIdTest.cpp
Labels: network

fix linting
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/RetryUtilsTest.cpp
  packages/streamr-utils/test/unit/StreamPartIDTest.cpp
  packages/streamr-utils/test/unit/toEthereumAddressOrENSNameTest.cpp
Labels: utils

fix linting
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/RetryUtilsTest.cpp
  packages/streamr-utils/test/unit/StreamPartIDTest.cpp
  packages/streamr-utils/test/unit/toEthereumAddressOrENSNameTest.cpp
Labels: utils

add placeholder unit tests to fix linting
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/ContentDeliveryRpcLocalTest.cpp
  packages/streamr-trackerless-network/test/unit/ContentDeliveryRpcRemoteTest.cpp
  packages/streamr-trackerless-network/test/unit/FifoMapWithTTLTest.cpp
  packages/streamr-trackerless-network/test/unit/NodeListTest.cpp
  packages/streamr-trackerless-network/test/unit/PropagationTaskStoreTest.cpp
  packages/streamr-trackerless-network/test/unit/PropagationTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyClientTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyConnectionRpcLocalTest.cpp
  packages/streamr-trackerless-network/test/unit/ProxyConnectionRpcRemoteTest.cpp
  packages/streamr-trackerless-network/test/unit/UtilsTest.cpp
  packages/streamr-trackerless-network/test/unit/formStreamPartDeliveryServiceIdTest.cpp
Labels: network

add more placeholder unit tests
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/test/unit/EthereumAddressTest.cpp
  packages/streamr-utils/test/unit/ReplayEventEmitterWrapperTest.cpp
  packages/streamr-utils/test/unit/StreamIDTest.cpp
Labels: utils

fix linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

add more checks to ensure that setenvs.sh has been run
  install.sh
Labels: none

copy ios-aware homebrewClang.cmake to all directories
  homebrewClang.cmake
  packages/streamr-dht/homebrewClang.cmake
  packages/streamr-eventemitter/homebrewClang.cmake
  packages/streamr-json/homebrewClang.cmake
  packages/streamr-logger/homebrewClang.cmake
  packages/streamr-proto-rpc/homebrewClang.cmake
  packages/streamr-trackerless-network/homebrewClang.cmake
  packages/streamr-utils/homebrewClang.cmake
Labels: network, dht, proto-rpc, utils, logger

copy ios-aware homebrewClang.cmake to all directories
  homebrewClang.cmake
  packages/streamr-dht/homebrewClang.cmake
  packages/streamr-eventemitter/homebrewClang.cmake
  packages/streamr-json/homebrewClang.cmake
  packages/streamr-logger/homebrewClang.cmake
  packages/streamr-proto-rpc/homebrewClang.cmake
  packages/streamr-trackerless-network/homebrewClang.cmake
  packages/streamr-utils/homebrewClang.cmake
Labels: network, dht, proto-rpc, utils, logger

remove cpptrace, add monorepo deps to libstreamrproxyclient
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  vcpkg.json
Labels: dht

remove cpptrace to enable android builds
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-libstreamrproxyclient/vcpkg.json
Labels: dht

change case of utils.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/Utils.hpp
Labels: network

change case of utils.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/Utils.hpp
Labels: network

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
