Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

try to get lint working in ci
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/test/unit/SigningUtilsTest.cpp
Labels: utils

try to get lint working in ci
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/test/unit/SigningUtilsTest.cpp
Labels: utils

change to clang-format 18
  install-prerequisities.sh
Labels: none

change to clang-format 18
  install-prerequisities.sh
Labels: none

lint fixes
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/VersionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
Labels: dht

lint fixes
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/VersionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
Labels: dht

add on more placeholder test
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ConnectionLockStatesTest.cpp
Labels: dht

add on more placeholder test
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ConnectionLockStatesTest.cpp
Labels: dht

more placeholders
  packages/streamr-dht/CMakeLists.txt
Labels: dht

more placeholders
  packages/streamr-dht/CMakeLists.txt
Labels: dht

more placeholders
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/IPendingConnectionTest.cpp
Labels: dht

more placeholders
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/IPendingConnectionTest.cpp
Labels: dht

fix json test nullptr handling
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-json/include/streamr-json/toJson.hpp
  packages/streamr-json/test/unit/toJsonTest.cpp
Labels: dht

fix json test nullptr handling
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-json/include/streamr-json/toJson.hpp
  packages/streamr-json/test/unit/toJsonTest.cpp
Labels: dht

fix tests
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/integration/WebsocketClientServerTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

fix tests
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/integration/WebsocketClientServerTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

add one more placeholder test
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ListeningRpcCommunicatorTest.cpp
Labels: dht

add one more placeholder test
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ListeningRpcCommunicatorTest.cpp
Labels: dht

disable WebSocketServer tests that read certs from disk to make them work in CI
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
  packages/streamr-json/include/streamr-json/toJson.hpp
Labels: dht

disable WebSocketServer tests that read certs from disk to make them work in CI
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
  packages/streamr-json/include/streamr-json/toJson.hpp
Labels: dht

fix lint
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
Labels: dht

fix lint
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
Labels: dht

lint fix
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network

lint fix
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network

lint fixes
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/test/StreamrProxyClientTest.cpp
Labels: none

lint fixes
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/test/StreamrProxyClientTest.cpp
Labels: none

try autogenerating and auto-committing binaries
  .github/workflows/reusable/cached-install/action.yml
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/copyfilesforgowrapper.sh
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Release/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Release/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-linux/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so
  packages/streamr-libstreamrproxyclient/dist/x64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/wrappers/go/embeddedlib_darwin_amd64.go
  packages/streamr-libstreamrproxyclient/wrappers/go/embeddedlib_linux_amd64.go
  packages/streamr-libstreamrproxyclient/wrappers/go/embeddedlib_linux_arm64.go
  packages/streamr-libstreamrproxyclient/wrappers/go/streamrproxyclient.h
Labels: ci

try autogenerating and auto-committing binaries
  .github/workflows/reusable/cached-install/action.yml
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/copyfilesforgowrapper.sh
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Release/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Release/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-linux/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so.1
  packages/streamr-libstreamrproxyclient/dist/x64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/wrappers/go/embeddedlib_darwin_amd64.go
  packages/streamr-libstreamrproxyclient/wrappers/go/embeddedlib_darwin_arm64.go
  packages/streamr-libstreamrproxyclient/wrappers/go/embeddedlib_linux_amd64.go
  packages/streamr-libstreamrproxyclient/wrappers/go/embeddedlib_linux_arm64.go
  packages/streamr-libstreamrproxyclient/wrappers/go/streamrproxyclient.h
Labels: ci

fix bug in workflow
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

fix bug in workflow
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

removed dist to fix lfs
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-linux/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so
  packages/streamr-libstreamrproxyclient/dist/x64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.dylib
Labels: none

removed dist to fix lfs
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-linux/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so.1
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so.1.0.0
  packages/streamr-libstreamrproxyclient/dist/x64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.1.0.0.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.dylib
Labels: none

removed dist to fix lfs
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-linux/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so
  packages/streamr-libstreamrproxyclient/dist/x64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.dylib
Labels: none

removed dist to fix lfs
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-linux/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so
  packages/streamr-libstreamrproxyclient/dist/x64-linux/lib/Debug/libstreamrproxyclient.so.1
  packages/streamr-libstreamrproxyclient/dist/x64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/x64-osx/lib/Debug/libstreamrproxyclient.dylib
Labels: none

add cmake install to libstreamrproxyclient
  install.sh
Labels: none

add cmake install to libstreamrproxyclient
  install.sh
Labels: none

remove go dist from gitignore
  packages/streamr-libstreamrproxyclient/.gitignore
Labels: none

remove go dist from gitignore
  packages/streamr-libstreamrproxyclient/.gitignore
Labels: none

remove go dist from gitignore
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

remove go dist from gitignore
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
