Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

Unit tests added to iOS Unit Tester
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Unit tests added to iOS Unit Tester
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Unit tests added to iOS Unit Tester
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Unit tests added to CMakeLists.txt
  packages/streamr-dht/CMakeLists.txt
Labels: dht

Unit tests added to CMakeLists.txt
  packages/streamr-dht/CMakeLists.txt
Labels: dht

Unit tests added to CMakeLists.txt
  packages/streamr-dht/CMakeLists.txt
Labels: dht

Unit test removed from CMakeLists.txt
  packages/streamr-utils/CMakeLists.txt
Labels: utils

Unit test removed from CMakeLists.txt
  packages/streamr-utils/CMakeLists.txt
Labels: utils

Unit test removed from CMakeLists.txt
  packages/streamr-utils/CMakeLists.txt
Labels: utils

Unit test cleaned
  packages/streamr-json/test/unit/toJsonTest.cpp
Labels: none

Unit test cleaned
  packages/streamr-json/test/unit/toJsonTest.cpp
Labels: none

Unit test cleaned
  packages/streamr-json/test/unit/toJsonTest.cpp
Labels: none

convert streamrproxyclient.h to pure C
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

convert streamrproxyclient.h to pure C
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

convert streamrproxyclient.h to pure C
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

Fixed linting for DHT
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
Labels: dht

Fixed linting for DHT
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
Labels: dht

Fixed linting for DHT
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
Labels: dht

Fixed linting for DHT
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Fixed linting for DHT
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Fixed linting for DHT
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

3 flaky tests disabled
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

3 flaky tests disabled
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

3 flaky tests disabled
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

Unit tests fixed
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
Labels: dht

Unit tests fixed
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
Labels: dht

Unit tests fixed
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
Labels: dht

2 unit tests commented out. These must be checked later
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
Labels: dht

2 unit tests commented out. These must be checked later
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
Labels: dht

2 unit tests commented out. These must be checked later
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
Labels: dht

Null check added and test disabled as flaky one
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

Null check added and test disabled as flaky one
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

Null check added and test disabled as flaky one
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

generate shared library distribusions automatically
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/install.sh
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/run-ts-end-to-end-tests.sh
  packages/streamr-libstreamrproxyclient/run-ts-multiple-messages-test.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-trackerless-network/run-ts-integration-tests.sh
Labels: network

generate shared library distribusions automatically
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/install.sh
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/run-ts-end-to-end-tests.sh
  packages/streamr-libstreamrproxyclient/run-ts-multiple-messages-test.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-trackerless-network/run-ts-integration-tests.sh
Labels: network

generate shared library distribusions automatically
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/examples/unix/install.sh
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/run-ts-end-to-end-tests.sh
  packages/streamr-libstreamrproxyclient/run-ts-multiple-messages-test.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-trackerless-network/run-ts-integration-tests.sh
Labels: network

also pack ios distribution to tgz
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/createiosframework.sh
Labels: none

also pack ios distribution to tgz
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/createiosframework.sh
Labels: none

also pack ios distribution to tgz
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/createiosframework.sh
Labels: none

shared binary for arm64-osx
  packages/streamr-libstreamrproxyclient/.gitignore
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.1.dylib
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/lib/Debug/libstreamrproxyclient.dylib
Labels: none

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
