Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

change to noble apt repo
  install-prerequisities.sh
Labels: none

use gcc14 in github actions
  install-prerequisities.sh
Labels: none

use gcc14 in github actions
  install-prerequisities.sh
Labels: none

fix case to LibDataChannel
  packages/streamr-dht/CMakeLists.txt
Labels: dht

fix case to LibDataChannel
  packages/streamr-dht/CMakeLists.txt
Labels: dht

fix case
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcLocal.hpp
Labels: network

fix case
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcLocal.hpp
Labels: network

improve github caching
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

improve github caching
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

include runner.arch in cache names
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

include runner.arch in cache names
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

include runner.arch in cache names
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

include runner.arch in cache names
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

remove experimental from folly include statements
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

remove experimental from folly include statements
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

remove unused includes
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

remove unused includes
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

remove unused includes
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
Labels: proto-rpc

remove unused includes
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
Labels: proto-rpc

re-introduce experimental
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

re-introduce experimental
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

re-introduce experimental universally to all folly include statements
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcRemote.hpp
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.server.pb.h
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.server.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.server.pb.h
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcRemote.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcLocal.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.server.pb.h
  packages/streamr-utils/include/streamr-utils/RetryUtils.hpp
  packages/streamr-utils/include/streamr-utils/collect.hpp
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/include/streamr-utils/toCoroTask.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/include/streamr-utils/waitForEvent.hpp
  packages/streamr-utils/test/unit/collectTest.cpp
  packages/streamr-utils/test/unit/runAndWaitForEventsTest.cpp
  packages/streamr-utils/test/unit/toCoroTaskTest.cpp
  packages/streamr-utils/test/unit/waitForEventTest.cpp
Labels: network, dht, proto-rpc, utils

re-introduce experimental universally to all folly include statements
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcRemote.hpp
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.server.pb.h
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.server.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.server.pb.h
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcRemote.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcLocal.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.server.pb.h
  packages/streamr-utils/include/streamr-utils/RetryUtils.hpp
  packages/streamr-utils/include/streamr-utils/collect.hpp
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/include/streamr-utils/toCoroTask.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/include/streamr-utils/waitForEvent.hpp
  packages/streamr-utils/test/unit/collectTest.cpp
  packages/streamr-utils/test/unit/runAndWaitForEventsTest.cpp
  packages/streamr-utils/test/unit/toCoroTaskTest.cpp
  packages/streamr-utils/test/unit/waitForEventTest.cpp
Labels: network, dht, proto-rpc, utils

re-introduce experimental universally to all folly include statements
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
Labels: proto-rpc

re-introduce experimental universally to all folly include statements
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
Labels: proto-rpc

test also for gnuc in macro definition
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

test also for gnuc in macro definition
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

remove size_t from c header file
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

remove size_t from c header file
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
Labels: none

add fPIC flag
  packages/streamr-trackerless-network/CMakeLists.txt
Labels: network

add fPIC flag
  packages/streamr-trackerless-network/CMakeLists.txt
Labels: network

set initial value for aborted to false in abortsignal
  packages/streamr-utils/include/streamr-utils/AbortController.hpp
Labels: utils

set initial value for aborted to false in abortsignal
  packages/streamr-utils/include/streamr-utils/AbortController.hpp
Labels: utils

use custom main in utils tests
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/src/CustomGtestMain.cpp
Labels: utils

use custom main in utils tests
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/src/CustomGtestMain.cpp
Labels: utils

use initializer list when creating json
  packages/streamr-json/test/unit/toJsonTest.cpp
Labels: none

use initializer list when creating json
  packages/streamr-json/test/unit/toJsonTest.cpp
Labels: none

use custom test main in dht
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/src/CustomGtestMain.cpp
Labels: dht

use custom test main in dht
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/src/CustomGtestMain.cpp
Labels: dht

iOS CI actions deleted
  .github/workflows/ios_build.yml
  .github/workflows/reusable/cached-install-ios/action.yml
Labels: ci

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
