Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'

Fix for segmentation fault. And some unit tests which should be modified later when exception handling is added.
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/test/unit/WebsocketClientConnectionTest.cpp
Labels: dht

Fix for segmentation fault. And some unit tests which should be modified later when exception handling is added.
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/test/unit/WebsocketClientConnectionTest.cpp
Labels: dht

add adnroidttest.sh to run tests on android through adb (a device or an emulator must be connected)
  androidtest.sh
Labels: none

add adnroidttest.sh to run tests on android through adb (a device or an emulator must be connected)
  androidtest.sh
Labels: none

Update README.md
  README.md
Labels: docs

Some cleaning
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ui/LocationShareViewModel.kt
Labels: none

One file removed
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ui/ProxyState.kt
Labels: none

One file removed
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/Result.kt
Labels: none

ViewModel is kept when rotating device
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/MainActivity.kt
Labels: none

WebsocketServerTest unit tests added
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
  packages/streamr-dht/test/unit/example.crt
  packages/streamr-dht/test/unit/example.key
Labels: dht

WebsocketServerTest unit tests added
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
  packages/streamr-dht/test/unit/example.crt
  packages/streamr-dht/test/unit/example.key
Labels: dht

work in progress
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/Identifiers.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/proto.sh
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/abortableTimers.hpp
  packages/streamr-utils/vcpkg.json
  vcpkg.json
Labels: dht, proto-rpc, utils

work in progress
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/Identifiers.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/proto.sh
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/abortableTimers.hpp
  packages/streamr-utils/vcpkg.json
  vcpkg.json
Labels: dht, proto-rpc, utils

always wait for onConnected callback, no matter is the socket already open or not. OnOpen callback gets triggered when callback is set if the connection is already open
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/test/unit/WebsocketServerConnectionTest.cpp
Labels: dht

always wait for onConnected callback, no matter is the socket already open or not. OnOpen callback gets triggered when callback is set if the connection is already open
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/test/unit/WebsocketServerConnectionTest.cpp
Labels: dht

Gtest unit tests can be run in iOS device using testing app
  packages/streamr-eventemitter/test/unit/EventEmitterTest.cpp
  packages/streamr-logger/test/unit/LoggerTest.cpp
  packages/streamr-logger/test/unit/StreamrLogFormatterTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
  packages/streamr-proto-rpc/test/unit/ServerRegistryTest.cpp
Labels: proto-rpc, logger

One file removed
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GTestWrapper.mm
Labels: none

Small changes
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.cpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.hpp
  test/ios/iOSUnitTesting/iOSUnitTestingTests/iOSUnitTestingTests.swift
Labels: none

Fixed a bug when stopping webserver without starting crashed it
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
Labels: dht

iostest.sh runs GTests for iOS device
  test/ios/iOSUnitTesting/iostest.sh
Labels: none

iostest.sh runs GTests for iOS device
  iostest.sh
Labels: none

one file removed
  test/ios/iOSUnitTesting/iostest.sh
Labels: none

Fix for create-streamr-xcframework.pl
  create-streamr-xcframework.pl
Labels: none

xcparse installation added
  iostest.sh
Labels: none

Small change
  test/ios/iOSUnitTesting/iOSUnitTestingTests/GoogleTestRunner.cpp
Labels: none

File renaming
  test/ios/iOSUnitTesting/iOSUnitTestingTests/StreamrTests.swift
Labels: none

small changed
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

Create ios_build.yml
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

Create action_ios.yml
  .github/workflows/reusable/cached-install/action_ios.yml
Labels: ci

Create action_ios.yml
  .github/workflows/reusable/cached-install/action_ios.yml
Labels: ci

Create action_ios.yml
  .github/workflows/reusable/cached-install/action_ios.yml
Labels: ci

Delete .github/workflows/reusable/cached-install/action_ios.yml
  .github/workflows/reusable/cached-install/action_ios.yml
Labels: ci

Fix for iOS CI
  .github/workflows/ios_build.yml
  .github/workflows/reusable/cached-install-ios/action.yml
Labels: ci

iosbuild ci test
  iostest.sh
Labels: none

xcode-select change
  install-prerequisities.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

Fix for iOS CI
  install-prerequisities.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none
