Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'

iosbuild ci test
  install-prerequisities.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

Delete .github/workflows/reusable/cached-install/action_ios.yml
  .github/workflows/reusable/cached-install/action_ios.yml
Labels: ci

Delete .github/workflows/reusable/cached-install/action_ios.yml
  .github/workflows/reusable/cached-install/action_ios.yml
Labels: ci

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  create-streamr-xcframework.pl
Labels: none

iosbuild ci test
  create-streamr-xcframework.pl
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

move to using templated CallContextType and move-by-value in RpcCommunicator
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

move to using templated CallContextType and move-by-value in RpcCommunicator
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: proto-rpc

moved timout out of the callcontext
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/ProtoCallContext.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/ServerRegistry.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/concepts.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.server.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.server.pb.h
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
  packages/streamr-proto-rpc/test/unit/ServerRegistryTest.cpp
Labels: proto-rpc

moved timout out of the callcontext
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/ProtoCallContext.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/ServerRegistry.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/concepts.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.server.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.server.pb.h
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
  packages/streamr-proto-rpc/test/unit/ServerRegistryTest.cpp
Labels: proto-rpc

First ConnectionManager test passes
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/dht/contact/RpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/rpc-protocol/DhtCallContext.hpp
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/test.sh
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/utils/FakeTransport.hpp
  packages/streamr-eventemitter/include/streamr-eventemitter/EventEmitter.hpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.server.pb.h
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.server.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.server.pb.h
  vcpkg.json
Labels: dht, proto-rpc

First ConnectionManager test passes
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/dht/contact/RpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/rpc-protocol/DhtCallContext.hpp
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/test.sh
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/test/utils/FakeTransport.hpp
  packages/streamr-eventemitter/include/streamr-eventemitter/EventEmitter.hpp
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/hello/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.server.pb.h
  packages/streamr-proto-rpc/include/streamr-proto-rpc/PluginCodeGenerator.hpp
  packages/streamr-proto-rpc/test/proto/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.client.pb.h
  packages/streamr-proto-rpc/test/proto/TestProtos.server.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.client.pb.h
  packages/streamr-proto-rpc/test/proto/WakeUpRpc.server.pb.h
  vcpkg.json
Labels: dht, proto-rpc

add setting homebrew prefix in install and setenv scripts
  install-prerequisities.sh
Labels: none

add setting homebrew prefix in install and setenv scripts
  install-prerequisities.sh
Labels: none

add boost-endian dependency to streamr-utils
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/vcpkg.json
  vcpkg.json
Labels: utils

add boost-endian dependency to streamr-utils
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/vcpkg.json
  vcpkg.json
Labels: utils

add waitforcondition(), improve naming
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/AbortController.hpp
  packages/streamr-utils/include/streamr-utils/abortableTimers.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/abortableTimersTest.cpp
  packages/streamr-utils/test/unit/waitForEventTest.cpp
Labels: dht, utils

add waitforcondition(), improve naming
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/AbortController.hpp
  packages/streamr-utils/include/streamr-utils/abortableTimers.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/abortableTimersTest.cpp
  packages/streamr-utils/test/unit/waitForEventTest.cpp
Labels: dht, utils

fix linting
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-utils/include/streamr-utils/abortableTimers.hpp
  packages/streamr-utils/test/unit/waitForEventTest.cpp
Labels: dht, utils

fix linting
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-utils/include/streamr-utils/abortableTimers.hpp
  packages/streamr-utils/test/unit/waitForEventTest.cpp
Labels: dht, utils

potos of trackerless-network get built
  MonorepoPackages.cmake
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/build/.gitignore
  packages/streamr-trackerless-network/homebrewClang.cmake
  packages/streamr-trackerless-network/install.sh
  packages/streamr-trackerless-network/monorepoPackage.cmake
  packages/streamr-trackerless-network/proto.sh
  packages/streamr-trackerless-network/protos/NetworkRpc.proto
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.pb.cc
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.pb.h
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.pb.cc
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.server.pb.h
  packages/streamr-trackerless-network/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.cc
  packages/streamr-trackerless-network/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.h
  packages/streamr-trackerless-network/test.sh
  packages/streamr-trackerless-network/vcpkg.json
Labels: network, dht

potos of trackerless-network get built
  MonorepoPackages.cmake
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/build/.gitignore
  packages/streamr-trackerless-network/homebrewClang.cmake
  packages/streamr-trackerless-network/install.sh
  packages/streamr-trackerless-network/monorepoPackage.cmake
  packages/streamr-trackerless-network/proto.sh
  packages/streamr-trackerless-network/protos/NetworkRpc.proto
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.pb.cc
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.pb.h
  packages/streamr-trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.client.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.pb.cc
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.pb.h
  packages/streamr-trackerless-network/src/proto/packages/network/protos/NetworkRpc.server.pb.h
  packages/streamr-trackerless-network/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.cc
  packages/streamr-trackerless-network/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.h
  packages/streamr-trackerless-network/test.sh
  packages/streamr-trackerless-network/vcpkg.json
Labels: network, dht

waitForEvent and poller.start synchronized
  packages/streamr-utils/include/streamr-utils/AbortableTimers.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
Labels: utils

waitForEvent and poller.start synchronized
  packages/streamr-utils/include/streamr-utils/AbortableTimers.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
Labels: utils

waitForCondition unit tests added
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: utils

waitForCondition unit tests added
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: utils

waitForCondition unit tests added
  packages/streamr-utils/CMakeLists.txt
Labels: utils

waitForCondition unit tests added
  packages/streamr-utils/CMakeLists.txt
Labels: utils

developining..
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcRemote.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/FifoMapWithTTL.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/PropagationTaskStore.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/RandomAccessQueue.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/utils.hpp
  packages/streamr-trackerless-network/test/unit/NodeListTest.cpp
  packages/streamr-trackerless-network/vcpkg.json
  packages/streamr-utils/include/streamr-utils/ENSName.hpp
  packages/streamr-utils/include/streamr-utils/EthereumAddress.hpp
  packages/streamr-utils/include/streamr-utils/StreamID.hpp
  packages/streamr-utils/include/streamr-utils/StreamPartID.hpp
  packages/streamr-utils/include/streamr-utils/toEthereumAddressOrENSName.hpp
Labels: network, utils

developining..
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcRemote.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/FifoMapWithTTL.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/PropagationTaskStore.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/RandomAccessQueue.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/utils.hpp
  packages/streamr-trackerless-network/test/unit/NodeListTest.cpp
  packages/streamr-trackerless-network/vcpkg.json
  packages/streamr-utils/include/streamr-utils/ENSName.hpp
  packages/streamr-utils/include/streamr-utils/EthereumAddress.hpp
  packages/streamr-utils/include/streamr-utils/StreamID.hpp
  packages/streamr-utils/include/streamr-utils/StreamPartID.hpp
  packages/streamr-utils/include/streamr-utils/toEthereumAddressOrENSName.hpp
Labels: network, utils

waitForCondition unit tests added
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: utils

waitForCondition unit tests added
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: utils

add ReplayEventEmitter that replays the latest event to new subscribers
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-eventemitter/include/streamr-eventemitter/EventEmitter.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: dht, utils

add ReplayEventEmitter that replays the latest event to new subscribers
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-eventemitter/include/streamr-eventemitter/EventEmitter.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: dht, utils

Integration tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/install.sh
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-logger/include/streamr-logger/detail/FollyLoggerImpl.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
Labels: dht, utils, logger
