Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

iosbuild ci test
  test/ios/iOSUnitTesting/fastlane/Fastfile
Labels: none

iosbuild ci test
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: none

work-in-progress
  MonorepoPackages.cmake
  package-lock.json
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/transport/ListeningRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/createiosframework.sh
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/include/libstreamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/libstreamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Modules/module.modulemap
  packages/streamr-libstreamrproxyclient/test.sh
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/clean.sh
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  vcpkg.json
Labels: network, dht, proto-rpc

work-in-progress
  MonorepoPackages.cmake
  package-lock.json
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/transport/ListeningRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/createiosframework.sh
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/include/libstreamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/libstreamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Modules/module.modulemap
  packages/streamr-libstreamrproxyclient/test.sh
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/clean.sh
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  vcpkg.json
Labels: network, dht, proto-rpc

iosbuild ci test
  test/ios/iOSUnitTesting/fastlane/Fastfile
Labels: none

iosbuild ci test
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  iostest.sh
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

iosbuild ci test
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.pbxproj
  test/ios/iOSUnitTesting/iOSUnitTesting.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  iostest.sh
Labels: none

split Endpoint to separate files, granularize mutex locking
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionsView.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectingEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/DisconnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/dht/routing/DuplicateDetector.hpp
  packages/streamr-dht/include/streamr-dht/transport/FakeTransport.hpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/vcpkg.json
Labels: dht

split Endpoint to separate files, granularize mutex locking
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionsView.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/ConnectingEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/DisconnectedEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/dht/routing/DuplicateDetector.hpp
  packages/streamr-dht/include/streamr-dht/transport/FakeTransport.hpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-dht/vcpkg.json
Labels: dht

end-to-end publishing test from libstreamrproxyclient shared library to ts server works
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/run-ts-end-to-end-tests.sh
  packages/streamr-libstreamrproxyclient/segv.entitlements
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/run-ts-integration-tests.sh
  packages/streamr-trackerless-network/test/integration/ProxyClientTsIntegrationTest.cpp
  vcpkg.json
Labels: network

end-to-end publishing test from libstreamrproxyclient shared library to ts server works
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/run-ts-end-to-end-tests.sh
  packages/streamr-libstreamrproxyclient/segv.entitlements
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/vcpkg.json
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/run-ts-integration-tests.sh
  packages/streamr-trackerless-network/test/integration/ProxyClientTsIntegrationTest.cpp
  vcpkg.json
Labels: network

fix linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/test/integration/ProxyClientTsIntegrationTest.cpp
Labels: network, dht

fix linting
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLockStates.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/EndpointStateInterface.hpp
  packages/streamr-dht/include/streamr-dht/connection/endpoint/InitialEndpointState.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/test/integration/ProxyClientTsIntegrationTest.cpp
Labels: network, dht

remove submodule
  .gitmodules
Labels: none

remove submodule
  .gitmodules
Labels: none

re-add submodule using https
  .gitmodules
Labels: none

re-add submodule using https
  .gitmodules
Labels: none

change filename case in git
  packages/streamr-utils/test/unit/AbortableTimersTest.cpp
Labels: utils

change filename case in git
  packages/streamr-utils/test/unit/AbortableTimersTest.cpp
Labels: utils

filename change case in include
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
Labels: utils

filename change case in include
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
Labels: utils

change case to LibDataChannel
  packages/streamr-dht/CMakeLists.txt
Labels: dht

change case to LibDataChannel
  packages/streamr-dht/CMakeLists.txt
Labels: dht

change include case
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
Labels: dht

change include case
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
Labels: dht

change include case
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

change include case
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
Labels: dht

change to ubuntu-24.04 runner
  .github/workflows/validate.yml
Labels: ci

change to ubuntu-24.04 runner
  .github/workflows/validate.yml
Labels: ci

change to noble apt repo
  install-prerequisities.sh
Labels: none

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
