Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

Signing added to Android LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/.idea/other.xml
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ProxyClientJNI.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ui/LocationShareScreen.kt
Labels: none

Signing added to Android LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/.idea/other.xml
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ProxyClientJNI.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ui/LocationShareScreen.kt
Labels: none

Signing added to Android LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/.idea/other.xml
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ProxyClientJNI.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ui/LocationShareScreen.kt
Labels: none

Signing added to Android LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/.idea/other.xml
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ProxyClientJNI.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ui/LocationShareScreen.kt
Labels: none

Signing added to Android LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/.idea/other.xml
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ProxyClientJNI.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/ui/LocationShareScreen.kt
Labels: none

Signing added to iOS LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Signing added to iOS LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Signing added to iOS LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Signing added to iOS LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Signing added to iOS LocationShare example app
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Stream part Id changed
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Stream part Id changed
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Stream part Id changed
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Stream part Id changed
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Stream part Id changed
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
Labels: none

Stream part ID changed
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Stream part ID changed
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Stream part ID changed
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Stream part ID changed
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Stream part ID changed
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

add go and python examples
  packages/streamr-libstreamrproxyclient/examples/go/go.mod
  packages/streamr-libstreamrproxyclient/examples/go/main.go
  packages/streamr-libstreamrproxyclient/examples/go/run.sh
  packages/streamr-libstreamrproxyclient/examples/go/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/python/publisherexample.py
  packages/streamr-libstreamrproxyclient/examples/python/run.sh
Labels: none

add go and python examples
  packages/streamr-libstreamrproxyclient/examples/go/go.mod
  packages/streamr-libstreamrproxyclient/examples/go/main.go
  packages/streamr-libstreamrproxyclient/examples/go/run.sh
  packages/streamr-libstreamrproxyclient/examples/go/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/python/publisherexample.py
  packages/streamr-libstreamrproxyclient/examples/python/run.sh
Labels: none

add go and python examples
  packages/streamr-libstreamrproxyclient/examples/go/go.mod
  packages/streamr-libstreamrproxyclient/examples/go/main.go
  packages/streamr-libstreamrproxyclient/examples/go/run.sh
  packages/streamr-libstreamrproxyclient/examples/go/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/python/publisherexample.py
  packages/streamr-libstreamrproxyclient/examples/python/run.sh
Labels: none

add go and python examples
  packages/streamr-libstreamrproxyclient/examples/go/go.mod
  packages/streamr-libstreamrproxyclient/examples/go/main.go
  packages/streamr-libstreamrproxyclient/examples/go/run.sh
  packages/streamr-libstreamrproxyclient/examples/go/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/python/publisherexample.py
  packages/streamr-libstreamrproxyclient/examples/python/run.sh
Labels: none

add go and python examples
  packages/streamr-libstreamrproxyclient/examples/go/go.mod
  packages/streamr-libstreamrproxyclient/examples/go/main.go
  packages/streamr-libstreamrproxyclient/examples/go/run.sh
  packages/streamr-libstreamrproxyclient/examples/go/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/python/publisherexample.py
  packages/streamr-libstreamrproxyclient/examples/python/run.sh
Labels: none

add initial cpp wrapper file
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
Labels: none

add initial cpp wrapper file
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
Labels: none

add initial cpp wrapper file
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
Labels: none

add initial cpp wrapper file
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
Labels: none

new c api compiles, tests fail
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/test/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network

new c api compiles, tests fail
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/test/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network

new c api compiles, tests fail
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/test/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network

new c api compiles, tests fail
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/include/StreamrProxyClient.hpp
  packages/streamr-libstreamrproxyclient/wrappers/cpp/test/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/Propagation.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network

define copy, move and assignmet for ProxyResults and related classes
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
Labels: none

define copy, move and assignmet for ProxyResults and related classes
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
Labels: none

define copy, move and assignmet for ProxyResults and related classes
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
Labels: none

define copy, move and assignmet for ProxyResults and related classes
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
Labels: none

libstreamrproxyclient tests pass with the new C API
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/helpers/Connectivity.hpp
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network, dht

libstreamrproxyclient tests pass with the new C API
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/helpers/Connectivity.hpp
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network, dht

libstreamrproxyclient tests pass with the new C API
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/helpers/Connectivity.hpp
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-libstreamrproxyclient/test/integration/StreamrProxyClientTest.cpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
Labels: network, dht

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
