Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

exclude PluginCodeGenerator.hpp from linting
  packages/streamr-proto-rpc/lint.sh
Labels: proto-rpc

exclude PluginCodeGenerator.hpp from linting
  packages/streamr-proto-rpc/lint.sh
Labels: proto-rpc

add arm-64 linux runner to matrix
  .github/workflows/validate.yml
Labels: ci

add arm-64 linux runner to matrix
  .github/workflows/validate.yml
Labels: ci

pull before push in git scripts
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

pull before push in git scripts
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

change git command to rebase
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

change git command to rebase
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

fix tests
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/AbortableTimersTest.cpp
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: dht, utils

fix tests
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
  packages/streamr-utils/test/unit/AbortableTimersTest.cpp
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: dht, utils

debug tests on mac runner
  .github/workflows/validate.yml
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/AbortableTimers.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
Labels: ci, utils

debug tests on mac runner
  .github/workflows/validate.yml
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/AbortableTimers.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
Labels: ci, utils

cat libdatachannel build log on build failure
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

cat libdatachannel build log on build failure
  .github/workflows/reusable/cached-install/action.yml
Labels: ci

use unique ports in tests
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-utils/test/unit/AbortableTimersTest.cpp
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: dht, utils

use unique ports in tests
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-utils/test/unit/AbortableTimersTest.cpp
  packages/streamr-utils/test/unit/waitForConditionTest.cpp
Labels: dht, utils

enable all 4 matrix builds
  .github/workflows/validate.yml
Labels: ci

enable all 4 matrix builds
  .github/workflows/validate.yml
Labels: ci

fix tests
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/test/unit/runAndWaitForEventsTest.cpp
Labels: dht, utils

fix tests
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/runAndWaitForEvents.hpp
  packages/streamr-utils/test/unit/runAndWaitForEventsTest.cpp
Labels: dht, utils

increase test timeout
  packages/streamr-utils/test/unit/runAndWaitForEventsTest.cpp
Labels: utils

increase test timeout
  packages/streamr-utils/test/unit/runAndWaitForEventsTest.cpp
Labels: utils

restart all jobs
  packages/streamr-dht/CMakeLists.txt
Labels: dht

restart all jobs
  packages/streamr-dht/CMakeLists.txt
Labels: dht

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
