Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'

Integration tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/install.sh
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-logger/include/streamr-logger/detail/FollyLoggerImpl.hpp
  packages/streamr-utils/include/streamr-utils/waitForCondition.hpp
Labels: dht, utils, logger

Websocket callbacks synchronized with mutexes
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
Labels: dht

Websocket callbacks synchronized with mutexes
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
Labels: dht

end-to-end test of ProxyClient compiles but does not work yet
  .gitmodules
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/dht/contact/RpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/transport/FakeTransport.hpp
  packages/streamr-dht/include/streamr-dht/transport/ListeningRpcCommunicator.hpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcLocal.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcRemote.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/formStreamPartDeliveryServiceId.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/FifoMapWithTTL.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcLocal.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/test/integration/ProxyClientTsIntegrationTest.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/AbortController.hpp
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/include/streamr-utils/RetryUtils.hpp
  packages/streamr-utils/include/streamr-utils/StreamID.hpp
  packages/streamr-utils/include/streamr-utils/StreamPartID.hpp
  packages/streamr-utils/include/streamr-utils/partition.hpp
  packages/streamr-utils/vcpkg.json
Labels: network, dht, utils

end-to-end test of ProxyClient compiles but does not work yet
  .gitmodules
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/dht/contact/RpcRemote.hpp
  packages/streamr-dht/include/streamr-dht/transport/FakeTransport.hpp
  packages/streamr-dht/include/streamr-dht/transport/ListeningRpcCommunicator.hpp
  packages/streamr-dht/test/unit/ConnectionManagerTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcLocal.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/ContentDeliveryRpcRemote.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/NodeList.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/formStreamPartDeliveryServiceId.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/propagation/FifoMapWithTTL.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcLocal.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyConnectionRpcRemote.hpp
  packages/streamr-trackerless-network/test/integration/ProxyClientTsIntegrationTest.cpp
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/AbortController.hpp
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/include/streamr-utils/RetryUtils.hpp
  packages/streamr-utils/include/streamr-utils/StreamID.hpp
  packages/streamr-utils/include/streamr-utils/StreamPartID.hpp
  packages/streamr-utils/include/streamr-utils/partition.hpp
  packages/streamr-utils/vcpkg.json
Labels: network, dht, utils

fix outgoinghandshaker to save a copy of the targetpeerdescriptor
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

fix outgoinghandshaker to save a copy of the targetpeerdescriptor
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

generate real random uuids, end-to end broadcast to ts goes through
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-utils/include/streamr-utils/Uuid.hpp
Labels: dht, utils

generate real random uuids, end-to end broadcast to ts goes through
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-utils/include/streamr-utils/Uuid.hpp
Labels: dht, utils

Tests successfully executed
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/Handshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
  packages/streamr-utils/include/streamr-utils/Uuid.hpp
Labels: dht, utils

Socket end crash fixed and intergration tests executed successfully
  packages/streamr-dht/include/streamr-dht/connection/ConnectionLocker.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

Cleanup
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

Common test logic moved to SetUp
  packages/streamr-dht/test/integration/ConnectionLockingTest.cpp
Labels: dht

use real random uuid
  packages/streamr-dht/include/streamr-dht/connection/Connection.hpp
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/vcpkg.json
Labels: dht, proto-rpc

use real random uuid
  packages/streamr-dht/include/streamr-dht/connection/Connection.hpp
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/vcpkg.json
Labels: dht, proto-rpc

Unit tests added
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

add errorCallback to send() of CommunicationManager
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/transport/ListeningRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: dht, proto-rpc

add errorCallback to send() of CommunicationManager
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/transport/ListeningRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/Transport.hpp
  packages/streamr-proto-rpc/examples/hello/hello.cpp
  packages/streamr-proto-rpc/examples/routed-hello/routedhello.cpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicator.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorClientApi.hpp
  packages/streamr-proto-rpc/include/streamr-proto-rpc/RpcCommunicatorServerApi.hpp
  packages/streamr-proto-rpc/test/integration/ProtoRpcTest.cpp
  packages/streamr-proto-rpc/test/unit/RpcCommunicatorTest.cpp
Labels: dht, proto-rpc

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/AddressToolsTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/ConnectivityTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/DuplicateDetectorTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/PendingConnectionTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/test/unit/VersionTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/include/streamr-dht/connection/ConnectionManager.hpp
  packages/streamr-dht/include/streamr-dht/connection/ConnectorFacade.hpp
  packages/streamr-dht/include/streamr-dht/connection/Endpoint.hpp
  packages/streamr-dht/include/streamr-dht/connection/IPendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/IncomingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/OutgoingHandshaker.hpp
  packages/streamr-dht/include/streamr-dht/connection/PendingConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnector.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnectorRpcLocal.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnector.hpp
  packages/streamr-dht/include/streamr-dht/transport/ListeningRpcCommunicator.hpp
  packages/streamr-dht/include/streamr-dht/transport/RoutingRpcCommunicator.hpp
  packages/streamr-dht/test/integration/ConnectionManagerTest.cpp
  packages/streamr-dht/test/unit/HandshakerTest.cpp
  packages/streamr-dht/test/unit/VersionTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorRpcLocalTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectorTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/test/unit/HandshakerTest.cpp
Labels: dht

Unit tests added
  packages/streamr-dht/test/unit/HandshakerTest.cpp
Labels: dht

Cleanup
  packages/streamr-dht/test/unit/HandshakerTest.cpp
Labels: dht

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  iostest.sh
Labels: none

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  .github/workflows/ios_build.yml
Labels: ci

iosbuild ci test
  iostest.sh
  test/ios/iOSUnitTesting/fastlane/Fastfile
Labels: none
