Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

add readme to libstreamrproxyclient
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

add readme to libstreamrproxyclient
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

add readme to libstreamrproxyclient
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

add readme to libstreamrproxyclient
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

update readme
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

update readme
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

update readme
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

update readme
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

update readme
  packages/streamr-libstreamrproxyclient/README.md
Labels: none

add readme to the unix example
  packages/streamr-libstreamrproxyclient/examples/unix/README.md
Labels: none

add readme to the unix example
  packages/streamr-libstreamrproxyclient/examples/unix/README.md
Labels: none

add readme to the unix example
  packages/streamr-libstreamrproxyclient/examples/unix/README.md
Labels: none

add readme to the unix example
  packages/streamr-libstreamrproxyclient/examples/unix/README.md
Labels: none

add readme to the unix example
  packages/streamr-libstreamrproxyclient/examples/unix/README.md
Labels: none

update readmes
  README.md
  packages/streamr-libstreamrproxyclient/README.md
Labels: docs

update readmes
  README.md
  packages/streamr-libstreamrproxyclient/README.md
Labels: docs

update readmes
  README.md
  packages/streamr-libstreamrproxyclient/README.md
Labels: docs

update readmes
  README.md
  packages/streamr-libstreamrproxyclient/README.md
Labels: docs

update readmes
  README.md
  packages/streamr-libstreamrproxyclient/README.md
Labels: docs

Android App simplified
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/PeerDescriptor.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/Result.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/locationshare.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClientCoroutines.kt
Labels: none

Android App simplified (#18)
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/PeerDescriptor.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/Result.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/locationshare.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClientCoroutines.kt
Labels: none

Android App simplified (#18)
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/PeerDescriptor.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/Result.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/locationshare.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClientCoroutines.kt
Labels: none

Android App simplified (#18)
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/PeerDescriptor.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/Result.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/locationshare.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClientCoroutines.kt
Labels: none

Android App simplified (#18)
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/PeerDescriptor.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/Result.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/locationshare.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClientCoroutines.kt
Labels: none

Android App simplified (#18)
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/PeerDescriptor.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/ProxyClient.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/Result.h
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/cpp/locationshare.cpp
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClient.kt
  packages/streamr-libstreamrproxyclient/examples/android/LocationShare/app/src/main/java/com/example/locationshare/StreamrProxyClientCoroutines.kt
Labels: none

add signing utils
  packages/streamr-utils/include/streamr-utils/SigningUtils.hpp
  packages/streamr-utils/test/unit/SigninUtilsTest.cpp
Labels: utils

add signing utils
  packages/streamr-utils/include/streamr-utils/SigningUtils.hpp
  packages/streamr-utils/test/unit/SigninUtilsTest.cpp
Labels: utils

add signing utils
  packages/streamr-utils/include/streamr-utils/SigningUtils.hpp
  packages/streamr-utils/test/unit/SigninUtilsTest.cpp
Labels: utils

add signing utils
  packages/streamr-utils/include/streamr-utils/SigningUtils.hpp
  packages/streamr-utils/test/unit/SigninUtilsTest.cpp
Labels: utils

add signing utils
  packages/streamr-utils/include/streamr-utils/SigningUtils.hpp
  packages/streamr-utils/test/unit/SigninUtilsTest.cpp
Labels: utils

add binary utils
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/vcpkg.json
Labels: utils

add binary utils
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/vcpkg.json
Labels: utils

add binary utils
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/vcpkg.json
Labels: utils

add binary utils
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/vcpkg.json
Labels: utils

add binary utils
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/BinaryUtils.hpp
  packages/streamr-utils/vcpkg.json
Labels: utils

signing added to unix example
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/lint.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/DuplicateMessageDetectorTest.cpp
  vcpkg.json
Labels: network

signing added to unix example
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/lint.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/DuplicateMessageDetectorTest.cpp
  vcpkg.json
Labels: network

signing added to unix example
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/lint.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/DuplicateMessageDetectorTest.cpp
  vcpkg.json
Labels: network

signing added to unix example
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/lint.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/DuplicateMessageDetectorTest.cpp
  vcpkg.json
Labels: network

signing added to unix example
  packages/streamr-libstreamrproxyclient/dist/arm64-osx/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/examples/unix/publisherexample.cpp
  packages/streamr-libstreamrproxyclient/examples/unix/run.sh
  packages/streamr-libstreamrproxyclient/include/streamrproxyclient.h
  packages/streamr-libstreamrproxyclient/lint.sh
  packages/streamr-libstreamrproxyclient/src/LibProxyClientApi.hpp
  packages/streamr-libstreamrproxyclient/src/streamrproxyclient.cpp
  packages/streamr-libstreamrproxyclient/test/end-to-end/PublishToTsServerTest.cpp
  packages/streamr-trackerless-network/CMakeLists.txt
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/DuplicateMessageDetector.hpp
  packages/streamr-trackerless-network/include/streamr-trackerless-network/logic/proxy/ProxyClient.hpp
  packages/streamr-trackerless-network/test/unit/DuplicateMessageDetectorTest.cpp
  vcpkg.json
Labels: network

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
