Repository streamr-dev/native-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, network, dht, proto-rpc, utils, logger

vcpkg install --triplet=arm64-ios works
  overlaytriplets/arm64-ios.cmake
  toolchains/ios.toolchain.cmake
Labels: none

vcpkg install --triplet=arm64-ios works
  overlaytriplets/arm64-ios.cmake
  toolchains/ios.toolchain.cmake
Labels: none

add support for --ios and --android flags in install.sh
  .gitignore
  install.sh
  packages/streamr-json/install.sh
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/include/libstreamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/install.sh
  packages/streamr-libstreamrproxyclient/monorepoPackage.cmake
  packages/streamr-libstreamrproxyclient/src/libstreamrproxyclient.cpp
  packages/streamr-logger/install.sh
  packages/streamr-proto-rpc/install.sh
  packages/streamr-utils/install.sh
Labels: proto-rpc, utils, logger

add support for --ios and --android flags in install.sh
  .gitignore
  install.sh
  packages/streamr-json/install.sh
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/include/libstreamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/install.sh
  packages/streamr-libstreamrproxyclient/monorepoPackage.cmake
  packages/streamr-libstreamrproxyclient/src/libstreamrproxyclient.cpp
  packages/streamr-logger/install.sh
  packages/streamr-proto-rpc/install.sh
  packages/streamr-utils/install.sh
Labels: proto-rpc, utils, logger

rename flag iphone to ios
  install.sh
  packages/streamr-eventemitter/install.sh
  packages/streamr-json/install.sh
  packages/streamr-libstreamrproxyclient/install.sh
  packages/streamr-logger/install.sh
  packages/streamr-proto-rpc/install.sh
  packages/streamr-utils/install.sh
Labels: proto-rpc, utils, logger

rename flag iphone to ios
  install.sh
  packages/streamr-eventemitter/install.sh
  packages/streamr-json/install.sh
  packages/streamr-libstreamrproxyclient/install.sh
  packages/streamr-logger/install.sh
  packages/streamr-proto-rpc/install.sh
  packages/streamr-utils/install.sh
Labels: proto-rpc, utils, logger

developing install.sh for iphone
  install.sh
Labels: none

developing install.sh for iphone
  install.sh
Labels: none

continue developing install.sh for iphone
  install.sh
  packages/streamr-eventemitter/CMakeLists.txt
  packages/streamr-json/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-proto-rpc/CMakeLists.txt
Labels: proto-rpc

continue developing install.sh for iphone
  install.sh
  packages/streamr-eventemitter/CMakeLists.txt
  packages/streamr-json/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-proto-rpc/CMakeLists.txt
Labels: proto-rpc

add checks to install.sh to prevent running with false settings
  .gitignore
  CMakeLists.txt
  install.sh
Labels: none

add checks to install.sh to prevent running with false settings
  .gitignore
  CMakeLists.txt
  install.sh
Labels: none

simple ios framework dylib builds
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/build/.gitignore
  packages/streamr-libstreamrproxyclient/clean.sh
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/install.sh
  toolchains/ios.toolchain.cmake
Labels: none

simple ios framework dylib builds
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/build/.gitignore
  packages/streamr-libstreamrproxyclient/clean.sh
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/install.sh
  toolchains/ios.toolchain.cmake
Labels: none

./install.sh --ios works in project root
  packages/streamr-eventemitter/CMakeLists.txt
  packages/streamr-json/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/libstreamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/src/libstreamrproxyclient.cpp
  packages/streamr-logger/CMakeLists.txt
  packages/streamr-proto-rpc/CMakeLists.txt
  toolchains/ios.toolchain.cmake
Labels: proto-rpc, logger

./install.sh --ios works in project root
  packages/streamr-eventemitter/CMakeLists.txt
  packages/streamr-json/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/include/libstreamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/src/libstreamrproxyclient.cpp
  packages/streamr-logger/CMakeLists.txt
  packages/streamr-proto-rpc/CMakeLists.txt
  toolchains/ios.toolchain.cmake
Labels: proto-rpc, logger

Streamr iOS xcframework creation script added
  create-streamr-xcframework.pl
  install.sh
Labels: none

Calling create-streamr-xcframework.pl fixed
  install.sh
Labels: none

iOS app example StreamrProtoRpcExampleApp added
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp.xcodeproj/project.pbxproj
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Assets.xcassets/Contents.json
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/ContentView.swift
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Hello.cpp
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Hello.hpp
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/HelloRpc.client.pb.h
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/HelloRpc.pb.cc
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/HelloRpc.pb.h
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/HelloRpc.server.pb.h
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Preview Content/Preview Assets.xcassets/Contents.json
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/ProtoRpc.pb.cc
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/ProtoRpc.pb.h
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/StreamrProtoRpcExampleApp-Bridging-Header.h
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/StreamrProtoRpcExampleAppApp.swift
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Wrapper.h
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/Wrapper.mm
Labels: proto-rpc

dynamic ios example works
  packages/streamr-libstreamrproxyclient/.gitignore
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/clean.sh
  packages/streamr-libstreamrproxyclient/createiosframework.sh
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/.gitignore
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/xcshareddata/xcschemes/DynamicallyLinkedAppExample.xcscheme
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/ContentView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/DynamicallyLinkedAppExampleApp.swift
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Preview Content/Preview Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/install.sh
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Headers/streamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Info.plist
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Modules/module.modulemap
Labels: none

dynamic ios example works
  packages/streamr-libstreamrproxyclient/.gitignore
  packages/streamr-libstreamrproxyclient/CMakeLists.txt
  packages/streamr-libstreamrproxyclient/clean.sh
  packages/streamr-libstreamrproxyclient/createiosframework.sh
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/.gitignore
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample.xcodeproj/xcshareddata/xcschemes/DynamicallyLinkedAppExample.xcscheme
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/ContentView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/DynamicallyLinkedAppExampleApp.swift
  packages/streamr-libstreamrproxyclient/examples/ios/DynamicallyLinkedAppExample/DynamicallyLinkedAppExample/Preview Content/Preview Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/install.sh
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Headers/streamrproxyclient.hpp
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Info.plist
  packages/streamr-libstreamrproxyclient/templates/streamrproxyclient.framework/Modules/module.modulemap
Labels: none

Small improvement
  packages/streamr-proto-rpc/examples/ios/xcframeworkexampleapp/StreamrProtoRpcExampleApp/ContentView.swift
Labels: proto-rpc

add Branded<> utility type
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/Branded.hpp
  packages/streamr-utils/include/streamr-utils/wait.hpp
  packages/streamr-utils/test/unit/BrandedTest.cpp
  packages/streamr-utils/vcpkg.json
Labels: utils

add Branded<> utility type
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/include/streamr-utils/Branded.hpp
  packages/streamr-utils/include/streamr-utils/wait.hpp
  packages/streamr-utils/test/unit/BrandedTest.cpp
  packages/streamr-utils/vcpkg.json
Labels: utils

LocationShare example iOS app
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.pbxproj
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcshareddata/xcschemes/LocationShare.xcscheme
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Info.plist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationManager.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShare-Bridging-Header.h
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareApp.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/PeerDescriptor.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/PeerDescriptor.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Preview Content/Preview Assets.xcassets/Contents.json
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Result.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareTests/LocationShareTests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITests.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShareUITests/LocationShareUITestsLaunchTests.swift
Labels: none

Small change for LocationShare example iOS app
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
Labels: none

Some changes
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/project.xcworkspace/xcuserdata/santturantanen.xcuserdatad/UserInterfaceState.xcuserstate
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare.xcodeproj/xcuserdata/santturantanen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

Status added to the main view
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareView.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/LocationShareViewModel.swift
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.cpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/ProxyClient.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/Result.hpp
  packages/streamr-libstreamrproxyclient/examples/ios/LocationShare/LocationShare/StreamrProxyClient.swift
Labels: none

move to using std::string_view in Logger APIs
  packages/streamr-logger/include/streamr-logger/Logger.hpp
  packages/streamr-logger/include/streamr-logger/LoggerImpl.hpp
  packages/streamr-logger/include/streamr-logger/SLogger.hpp
  packages/streamr-logger/include/streamr-logger/detail/FollyLoggerImpl.hpp
Labels: logger

move to using std::string_view in Logger APIs
  packages/streamr-logger/include/streamr-logger/Logger.hpp
  packages/streamr-logger/include/streamr-logger/LoggerImpl.hpp
  packages/streamr-logger/include/streamr-logger/SLogger.hpp
  packages/streamr-logger/include/streamr-logger/detail/FollyLoggerImpl.hpp
Labels: logger

websockets work
  .clang-tidy
  MonorepoPackages.cmake
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/build/.gitignore
  packages/streamr-dht/clean.sh
  packages/streamr-dht/homebrewClang.cmake
  packages/streamr-dht/include/streamr-dht/connection/Connection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/include/streamr-dht/utils/CertificateHelper.hpp
  packages/streamr-dht/include/streamr-dht/utils/Errors.hpp
  packages/streamr-dht/install.sh
  packages/streamr-dht/monorepoPackage.cmake
  packages/streamr-dht/proto.sh
  packages/streamr-dht/protos/DhtRpc.proto
  packages/streamr-dht/protos/tests.proto
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.pb.cc
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.cc
  packages/streamr-dht/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.h
  packages/streamr-dht/test.sh
  packages/streamr-dht/test/integration/WebsocketClientServerTest.cpp
  packages/streamr-dht/test/unit/CertificateHelperTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectionTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerConnectionTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-eventemitter/README.md
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-utils/CMakeLists.txt
  vcpkg.json
Labels: dht, proto-rpc, utils

websockets work
  .clang-tidy
  MonorepoPackages.cmake
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/build/.gitignore
  packages/streamr-dht/clean.sh
  packages/streamr-dht/homebrewClang.cmake
  packages/streamr-dht/include/streamr-dht/connection/Connection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketClientConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketConnection.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServer.hpp
  packages/streamr-dht/include/streamr-dht/connection/websocket/WebsocketServerConnection.hpp
  packages/streamr-dht/include/streamr-dht/utils/CertificateHelper.hpp
  packages/streamr-dht/include/streamr-dht/utils/Errors.hpp
  packages/streamr-dht/install.sh
  packages/streamr-dht/monorepoPackage.cmake
  packages/streamr-dht/proto.sh
  packages/streamr-dht/protos/DhtRpc.proto
  packages/streamr-dht/protos/tests.proto
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.client.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.pb.cc
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.pb.h
  packages/streamr-dht/src/proto/packages/dht/protos/DhtRpc.server.pb.h
  packages/streamr-dht/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.cc
  packages/streamr-dht/src/proto/packages/proto-rpc/protos/ProtoRpc.pb.h
  packages/streamr-dht/test.sh
  packages/streamr-dht/test/integration/WebsocketClientServerTest.cpp
  packages/streamr-dht/test/unit/CertificateHelperTest.cpp
  packages/streamr-dht/test/unit/WebsocketClientConnectionTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerConnectionTest.cpp
  packages/streamr-dht/test/unit/WebsocketServerTest.cpp
  packages/streamr-dht/vcpkg.json
  packages/streamr-eventemitter/README.md
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-utils/CMakeLists.txt
  vcpkg.json
Labels: dht, proto-rpc, utils

compiles on osx clang 18
  install-prerequisities.sh
  overlayports/folly/disable-groupvarint.patch
  overlayports/folly/disable-non-underscore-posix-names.patch
  overlayports/folly/disable-uninitialized-resize-on-new-stl.patch
  overlayports/folly/fix-deps.patch
  overlayports/folly/fix-fmt11-cmake.patch
  overlayports/folly/fix-unistd-include.patch
  overlayports/folly/fix-windows-minmax.patch
  overlayports/folly/portfile.cmake
  overlayports/folly/vcpkg-cmake-wrapper.cmake
  overlayports/folly/vcpkg.json
  overlaytriplets/arm64-osx.cmake
  vcpkg.json
Labels: none

compiles on osx clang 18
  install-prerequisities.sh
  overlayports/folly/disable-groupvarint.patch
  overlayports/folly/disable-non-underscore-posix-names.patch
  overlayports/folly/disable-uninitialized-resize-on-new-stl.patch
  overlayports/folly/fix-deps.patch
  overlayports/folly/fix-fmt11-cmake.patch
  overlayports/folly/fix-unistd-include.patch
  overlayports/folly/fix-windows-minmax.patch
  overlayports/folly/portfile.cmake
  overlayports/folly/vcpkg-cmake-wrapper.cmake
  overlayports/folly/vcpkg.json
  overlaytriplets/arm64-osx.cmake
  vcpkg.json
Labels: none

ios compiles with clang 18
  overlayports/folly/disable-cxa-init-primary-exception.patch
  overlayports/folly/portfile.cmake
  overlayports/usrsctp/fix-missing-route-header-ios.patch
  overlayports/usrsctp/fix_export.patch
  overlayports/usrsctp/mingw.diff
  overlayports/usrsctp/portfile.cmake
  overlayports/usrsctp/vcpkg.json
  overlaytriplets/arm64-ios.cmake
Labels: none

ios compiles with clang 18
  overlayports/folly/disable-cxa-init-primary-exception.patch
  overlayports/folly/portfile.cmake
  overlayports/usrsctp/fix-missing-route-header-ios.patch
  overlayports/usrsctp/fix_export.patch
  overlayports/usrsctp/mingw.diff
  overlayports/usrsctp/portfile.cmake
  overlayports/usrsctp/vcpkg.json
  overlaytriplets/arm64-ios.cmake
Labels: none

android build works
  CMakeLists.txt
  homebrewClang.cmake
  install.sh
  overlayports/folly/fix-android-remainder.patch
  overlayports/folly/portfile.cmake
  overlayports/usrsctp/add-iffaddrs-include.patch
  overlayports/usrsctp/fix-cmake-version.patch
  overlayports/usrsctp/portfile.cmake
  overlaytriplets/arm64-android.cmake
  overlaytriplets/x64-android.cmake
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/homebrewClang.cmake
  packages/streamr-dht/monorepoPackage.cmake
  packages/streamr-eventemitter/CMakeLists.txt
  packages/streamr-eventemitter/homebrewClang.cmake
  packages/streamr-eventemitter/monorepoPackage.cmake
  packages/streamr-json/CMakeLists.txt
  packages/streamr-json/homebrewClang.cmake
  packages/streamr-json/monorepoPackage.cmake
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/monorepoPackage.cmake
  packages/streamr-logger/CMakeLists.txt
  packages/streamr-logger/homebrewClang.cmake
  packages/streamr-logger/monorepoPackage.cmake
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-proto-rpc/homebrewClang.cmake
  packages/streamr-proto-rpc/monorepoPackage.cmake
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/homebrewClang.cmake
  packages/streamr-utils/monorepoPackage.cmake
Labels: dht, proto-rpc, utils, logger

android build works
  CMakeLists.txt
  homebrewClang.cmake
  install.sh
  overlayports/folly/fix-android-remainder.patch
  overlayports/folly/portfile.cmake
  overlayports/usrsctp/add-iffaddrs-include.patch
  overlayports/usrsctp/fix-cmake-version.patch
  overlayports/usrsctp/portfile.cmake
  overlaytriplets/arm64-android.cmake
  overlaytriplets/x64-android.cmake
  packages/streamr-dht/CMakeLists.txt
  packages/streamr-dht/homebrewClang.cmake
  packages/streamr-dht/monorepoPackage.cmake
  packages/streamr-eventemitter/CMakeLists.txt
  packages/streamr-eventemitter/homebrewClang.cmake
  packages/streamr-eventemitter/monorepoPackage.cmake
  packages/streamr-json/CMakeLists.txt
  packages/streamr-json/homebrewClang.cmake
  packages/streamr-json/monorepoPackage.cmake
  packages/streamr-libstreamrproxyclient/homebrewClang.cmake
  packages/streamr-libstreamrproxyclient/monorepoPackage.cmake
  packages/streamr-logger/CMakeLists.txt
  packages/streamr-logger/homebrewClang.cmake
  packages/streamr-logger/monorepoPackage.cmake
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-proto-rpc/homebrewClang.cmake
  packages/streamr-proto-rpc/monorepoPackage.cmake
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/homebrewClang.cmake
  packages/streamr-utils/monorepoPackage.cmake
Labels: dht, proto-rpc, utils, logger

revert to clang17 on mac/ios because exceptions cannot be caught on clang18 because of incompatibility with c++abi
  install-prerequisities.sh
  packages/streamr-proto-rpc/include/streamr-proto-rpc/ServerRegistry.hpp
Labels: proto-rpc

revert to clang17 on mac/ios because exceptions cannot be caught on clang18 because of incompatibility with c++abi
  install-prerequisities.sh
  packages/streamr-proto-rpc/include/streamr-proto-rpc/ServerRegistry.hpp
Labels: proto-rpc

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file: '.github/*'
  - any-glob-to-any-file: '.github/**/*'
docs:
- changed-files:
  - any-glob-to-any-file: '**.md'
  - any-glob-to-any-file: '*.md'
network:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/*'
  - any-glob-to-any-file: 'packages/streamr-trackerless-network/**/*'
dht:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-dht/*'
  - any-glob-to-any-file: 'packages/streamr-dht/**/*'
proto-rpc:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/*'
  - any-glob-to-any-file: 'packages/streamr-proto-rpc/**/*'
utils:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-utils/*'
  - any-glob-to-any-file: 'packages/streamr-utils/**/*'
logger:
- changed-files:
  - any-glob-to-any-file: 'packages/streamr-logger/*'
  - any-glob-to-any-file: 'packages/streamr-logger/**/*'
