Repository streamr-dev/native-sdk, pull requests merged in 2024-07, with the labels that each got.

#6 use latest homebrew clang on mac, create setenvs.sh
  .gitignore
  .trunk/actions/trunk-upgrade-available/2024-06-17-16-17-14.597.yaml
  CMakeLists.txt
  README.md
  homebrewClang.cmake
  install-prerequisities.sh
  packages/streamr-eventemitter/homebrewClang.cmake
  packages/streamr-json/CMakeLists.txt
  packages/streamr-json/homebrewClang.cmake
  packages/streamr-logger/CMakeLists.txt
  packages/streamr-logger/homebrewClang.cmake
  packages/streamr-proto-rpc/CMakeLists.txt
  packages/streamr-proto-rpc/homebrewClang.cmake
  packages/streamr-utils/CMakeLists.txt
  packages/streamr-utils/homebrewClang.cmake
Labels: docs, proto-rpc, utils, logger

#3 Add basic logger
  homebrewClang.cmake
  install-prerequisities.sh
  packages/streamr-eventemitter/homebrewClang.cmake
  packages/streamr-json/CMakeLists.txt
  packages/streamr-json/homebrewClang.cmake
  packages/streamr-json/include/streamr-json/JsonBuilder.hpp
  packages/streamr-json/include/streamr-json/jsonConcepts.hpp
  packages/streamr-json/include/streamr-json/toJson.hpp
  packages/streamr-json/include/streamr-json/toString.hpp
  packages/streamr-logger/CMakeLists.txt
  packages/streamr-logger/README.md
  packages/streamr-logger/homebrewClang.cmake
  packages/streamr-logger/include/streamr-logger/Logger.hpp
  packages/streamr-logger/include/streamr-logger/LoggerImpl.hpp
  packages/streamr-logger/include/streamr-logger/StreamrLogLevel.hpp
  packages/streamr-logger/include/streamr-logger/detail/FollyLoggerImpl.hpp
  packages/streamr-logger/include/streamr-logger/detail/LogLevelMap.hpp
  packages/streamr-logger/include/streamr-logger/detail/StreamrHandlerFactory.hpp
  packages/streamr-logger/include/streamr-logger/detail/StreamrLogColors.hpp
  packages/streamr-logger/include/streamr-logger/detail/StreamrLogFormatter.hpp
  packages/streamr-logger/include/streamr-logger/detail/StreamrLogFormatterFactory.hpp
  packages/streamr-logger/include/streamr-logger/detail/StreamrWriterFactory.hpp
  packages/streamr-logger/src/examples/LoggerExample.cpp
  packages/streamr-logger/test.sh
  packages/streamr-logger/test/unit/LoggerEnvTest.cpp
  packages/streamr-logger/test/unit/LoggerTest.cpp
  packages/streamr-logger/test/unit/StreamrLogFormatterTest.cpp
  packages/streamr-proto-rpc/homebrewClang.cmake
  packages/streamr-proto-rpc/src/main.cpp
  packages/streamr-utils/homebrewClang.cmake
Labels: proto-rpc, utils, logger

#5 Add event emitter
  .gitignore
  CMakeLists.txt
  MonorepoPackages.cmake
  homebrewClang.cmake
  packages/streamr-eventemitter/CMakeLists.txt
  packages/streamr-eventemitter/README.md
  packages/streamr-eventemitter/homebrewClang.cmake
  packages/streamr-eventemitter/include/streamr-eventemitter/EventEmitter.hpp
  packages/streamr-eventemitter/monorepoPackage.cmake
  packages/streamr-eventemitter/test.sh
  packages/streamr-eventemitter/test/unit/EventEmitterTest.cpp
  packages/streamr-eventemitter/vcpkg.json
  packages/streamr-json/homebrewClang.cmake
  packages/streamr-logger/homebrewClang.cmake
  packages/streamr-proto-rpc/homebrewClang.cmake
  packages/streamr-utils/homebrewClang.cmake
Labels: proto-rpc, utils, logger

#7 Install troubleshooting
  README.md
Labels: docs

#8 Improve streamr-json documentation
  packages/streamr-json/CMakeLists.txt
  packages/streamr-json/README.md
  packages/streamr-json/include/streamr-json/toJson.hpp
  packages/streamr-json/src/examples/JsonExample.cpp
  packages/streamr-logger/include/streamr-logger/Logger.hpp
Labels: logger

#10 Module1 Review response: introduce static SLogger
  packages/streamr-logger/CMakeLists.txt
  packages/streamr-logger/README.md
  packages/streamr-logger/include/streamr-logger/SLogger.hpp
  packages/streamr-logger/src/examples/LoggerExample.cpp
Labels: logger
